/* your custom css */
.mainContainer {
  padding-top: 0;
  padding-bottom: 0;
}

.tutorial-video {
  margin: 0;
}

.homeWrapperBgImg {
}

.fbOpenSource {
  text-align: center;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}